{% extends '::profile.html.twig' %}

{% block header %}
<b>{% trans_default_domain 'FOSUserBundle' %}</b>

<div class="fos_user_user_show">
    <b>{{ 'profile.show.username'|trans }}: {{ user.username }}</b><br>
    <b>{{ 'profile.show.email'|trans }}: {{ user.email }}</b>
</div>
{% endblock %}